body {
  margin: 20px;
  font-family: 'Sriracha', cursive;
  background: rgb(141, 185, 211);
  color: #003366;
}

a {
  color: #003366;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

h2 {
  margin-top: 5px;
}